html,
#origin {
  height: 100%;
  font-size: 1em !important;
  font-family: var(--font-primary), Noto, sans-serif;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-app-background);
  color: var(--color-text-normal);
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
}

button {
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  user-select: none;
  padding: 0;
  margin: 0;
}

svg {
  font-family: var(--font-primary), Noto, sans-serif;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: unset;
  transform: translateZ(0);
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: top;
}

input,
textarea {
  font-family: var(--font-primary), Noto, sans-serif;
  user-select: text;
}

textarea {
  resize: none;
}

select:invalid {
  color: #a5aaaf;
}

b {
  font-weight: 700;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

*,
*:before,
*:after {
  outline: none;
  box-sizing: border-box;
}

::-moz-selection,
::selection {
  background: #a5aaaf;
  text-shadow: none;
}

html {
  overflow: hidden;
  min-width: 320px;
  min-height: 490px;
}

#root {
  height: 100%;
}

html#origin #root {
  display: flex;
  flex: 1 1 auto;
  overflow-y: hidden;
  overflow-x: hidden;
}

iframe {
  user-select: text;
}

h2 {
  margin: 0;
}
